.carousel {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
}

.carousel div span {
    color: #FFFFFF;
    height: 9px;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
}